.bubbleButton {
    color: var(--on-light-0);
    font-size: 22px;
    font-weight: 500;

    display: flex;
    padding: 20px 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background: #ffffff4e;
    position: relative;
    border-radius: 100px;
    backdrop-filter: blur(2px);
    box-shadow: inset 3px 1px 12px #fff, 0 0 16px #0000001b;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: 100px;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 1) 100%
        );

        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;

        pointer-events: none;
        z-index: -1;
    }

    & img {
        width: 32px;
    }
}

@media screen and (max-width: 1500px) {
    .bubbleButton {
        font-size: 20px;

        padding: 16px 24px;
        gap: 12px;

        & img {
            width: 28px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .bubbleButton {
        font-size: 18px;

        padding: 16px 24px;
        gap: 12px;

        & img {
            width: 26px;
        }
    }
}
