.projectTag {
    display: flex;
    gap: 6px;
    padding: 7px 12px;
    background: var(--dark-1);
    width: fit-content;
    border-radius: 100px;

    & svg {
        width: 14px;
    }
    & p {
        cursor: default;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .projectTag {
        gap: 4px;
        padding: 6px 10px;

        & svg {
            width: 12px;
        }
        & p {
            cursor: default;
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 380px) {
    .projectTag {
        gap: 4px;
        padding: 5px 8px;

        & svg {
            width: 10px;
        }
        & p {
            cursor: default;
            font-size: 9.5px;
        }
    }
}
