.heroContainer {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    background: linear-gradient(#0b0b0b 0%, #0b0b0b 70%, #160e24 100%);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    & .heroElements {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 24px;
    }

    & h2 {
        z-index: 10;
        text-align: center;
        font-size: 80px;
        font-weight: 500;
        line-height: 1;

        & .slogan {
            background: linear-gradient(#fff, #c7c7c7);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;

            &Highlight {
                background: linear-gradient(90deg, #e4b7ff, #74d5ff);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    & .heroContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        z-index: 10;

        & p {
            color: var(--on-dark-1);
            text-align: center;
        }

        & a {
            display: flex;
            background: linear-gradient(90deg, #6c7b9e39, #6e5b8939);
            width: fit-content;
            padding: 16px 24px;
            align-items: center;
            border-radius: 100px;
            gap: 16px;
            z-index: 0;
            box-shadow: inset 4px 0px 12px rgba(255, 255, 255, 0.75);
            position: relative;
            transition: box-shadow 0.2s ease-in-out, scale 0.2s ease-out;
            backdrop-filter: blur(8px);

            &:hover {
                box-shadow: inset 0px 0px 8px rgba(222, 217, 255, 0.65);
                scale: 1.05;
                & h4 {
                    scale: 1;
                }
                & img {
                    scale: 1;
                }

                &::after {
                    opacity: 0.35;
                }
            }

            &:focus {
                scale: 1;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                border-radius: 100px;
                background: linear-gradient(
                    to right,
                    rgba(141, 173, 255, 0.5) 0%,
                    rgba(141, 173, 255, 0.07) 25%,
                    rgba(141, 173, 255, 0) 50%,
                    rgba(192, 141, 255, 0.07) 75%,
                    rgba(192, 141, 255, 0.5) 100%
                );

                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;

                pointer-events: none;
                z-index: -1;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                transition: opacity 0.5s ease;
                z-index: -1;
                background: linear-gradient(90deg, #7c9ff2, #a57cde);
                opacity: 0;
                border-radius: 100px;
            }

            & h4 {
                font-size: 20px;
                font-weight: 500;
                transition: scale 0.2s ease-out;
            }

            & img {
                height: 18px;
                transition: scale 0.2s ease-out;
            }
        }
    }

    & .heroShape {
        position: absolute;
        max-height: 80vh;
        right: 0;
        transform: translateX(50%);
        aspect-ratio: 1/1;
    }
}

@media screen and (min-width: 2000px) {
    .heroContainer {
        & .heroElements {
            gap: 48px;
        }

        & h2 {
            font-size: 100px;
        }

        & .heroContent {
            gap: 40px;

            & a {
                padding: 18px 28px;
                gap: 16px;

                & h4 {
                    font-size: 24px;
                }

                & img {
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .heroContainer {
        & .heroElements {
            gap: 40px;
        }

        & h2 {
            font-size: 64px;
        }

        & .heroContent {
            gap: 24px;

            & a {
                gap: 12px;

                & h4 {
                    font-size: 18px;
                }

                & img {
                    height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .heroContainer {
        & .heroShape {
            max-width: 120vw;
            right: auto;
            bottom: 0%;
            left: 50%;
            top: auto;
            transform: translate(-50%, 50%) rotate(90deg);
        }
    }
}

@media screen and (max-width: 700px) {
    .heroContainer {
        & .heroElements {
            gap: 36px;
        }

        & h2 {
            font-size: 48px;
        }

        & .heroContent {
            gap: 28px;

            & a {
                padding: 14px 22px;
                gap: 8px;

                &::before {
                    padding: 2px;
                }

                & h4 {
                    font-size: 18px;
                }

                & img {
                    height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .heroContainer {
        & .heroElements {
            gap: 32px;
        }

        & h2 {
            font-size: 40px;
        }

        & .heroContent {
            gap: 24px;

            & a {
                padding: 14px 22px;
                gap: 12px;

                & h4 {
                    font-size: 18px;
                }

                & img {
                    height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .heroContainer {
        & h2 {
            font-size: 36px;
        }

        & .heroContent {
            & a {
                padding: 12px 20px;
                gap: 8px;

                & h4 {
                    font-size: 16px;
                }

                & img {
                    height: 14px;
                }
            }
        }
    }
}
