.headerWrapper {
    min-height: 100svh;
    width: 100%;
    padding: 15vh 36px 36px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 48px;
        padding: 64px 0;
        & .headerContent {
            display: flex;
            width: 100%;
            & .presentation {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                gap: 64px;
                & .slogan {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }

                & img {
                    width: 60%;
                    height: fit-content;
                }
            }

            & .description {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 86px;
                padding-top: 24px;

                & .headerText {
                    display: flex;
                    flex-direction: column;
                    gap: 64px;
                    max-width: 650px;
                }
            }
        }
    }
    & .scrollDown {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1120px) {
    .headerWrapper {
        padding: 56px 36px 36px 36px;
        & .header .headerContent {
            flex-direction: column;
            gap: 48px;
            & .presentation {
                gap: 36px;
                & .slogan {
                    gap: 8px;
                }
                & img {
                    width: 100%;
                    height: fit-content;
                }
            }

            & .description {
                gap: 36px;
                padding-top: 0;
            }
        }
    }
}
