.headerWrapper {
    min-height: 100svh;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 64px 0;
        & .headerContent {
            display: flex;
            & .presentation {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                gap: 64px;
                & .slogan {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }

                & img {
                    width: 60%;
                    height: fit-content;
                }
            }

            & .description {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 64px;
                padding-top: 24px;

                & .headerText {
                    display: flex;
                    flex-direction: column;
                    gap: 64px;
                    max-width: 750px;
                }
            }
        }
    }
    & .scrollDown {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

@media screen and (min-width: 1600px) {

}

@media screen and (max-width: 1120px) {
    .headerWrapper .header .headerContent {
        flex-direction: column;
        gap: 48px;
        & .presentation {
            gap: 36px;
            & .slogan {
                gap: 8px;
            }
            & img {
                width: 100%;
                height: fit-content;
            }
        }

        & .description {
            gap: 36px;
            padding-top: 0;
        }
    }
}
