.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 100px;
        font-weight: 500;
        animation: titleAnimation 1.5s 0.5s forwards;
    }

    & .tagline {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 24px;

        & .line {
            width: 0%;
            height: 2px;
            opacity: 0.5;
            animation: lineAnimation 4s 2s forwards;
            &:first-child {
                background: linear-gradient(90deg, #b8d7fe00, #b8d7fe63);
            }
            &:last-child {
                background: linear-gradient(90deg, #b8d7fe63, #b8d7fe00);
            }
        }

        & h5 {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
            opacity: 0;
            transform: translateY(-50%);
            animation: taglineTextAnimation 1s 1.5s forwards;
        }
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes lineAnimation {
    0% {
        opacity: 0.5;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes taglineTextAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1400px) {
    .titleContainer {
        gap: 24px;

        & h2 {
            font-size: 80px;
        }

        & .tagline {
            gap: 20px;

            & h5 {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .titleContainer {
        gap: 20px;

        & h2 {
            font-size: calc((100vw - 24px) / 6);
        }

        & .tagline {
            gap: 16px;

            & .line {
                height: 1px;
            }

            & h5 {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .titleContainer {
        gap: 16px;
    }
}

@media screen and (max-width: 350px) {
    .titleContainer {
        & h2 {
            font-size: calc((100vw) / 6.2);
        }
    }
}
