.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;

    & h2 {
        font-size: 100px;
        font-weight: 500;
    }

    & .tagline {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 24px;

        & .line {
            width: 100%;
            height: 2px;
            &:first-child {
                background: linear-gradient(90deg, #b8d7fe00, #b8d7fe63);
            }
            &:last-child {
                background: linear-gradient(90deg, #b8d7fe63, #b8d7fe00);
            }
        }

        & h5 {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1400px) {
    .titleContainer {
        gap: 24px;

        & h2 {
            font-size: 80px;
        }

        & .tagline {
            gap: 20px;

            & h5 {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .titleContainer {
        gap: 20px;

        & h2 {
            font-size: calc((100vw - 24px) / 6);
        }

        & .tagline {
            gap: 16px;

            & .line {
                height: 1px;
            }

            & h5 {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .titleContainer {
        gap: 16px;
    }
}

@media screen and (max-width: 350px) {
    .titleContainer {

        & h2 {
            font-size: calc((100vw) / 6.2);
        }
    }
}