.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 64px 64px 64px;
    min-height: 100dvh;
    background: radial-gradient(circle at center, #00000000, #49a9e538),
        linear-gradient(#fff, #ffe2ff);
    position: relative;

    & .skillsShapeWrapper {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        & .skillsShape {
            width: 100%;
            height: auto;
            object-fit: contain;
            max-height: 100%;
        }
    }

    & .skillsContent {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 10;

        & h2 {
            font-weight: 400;
            font-size: 40px;
            color: #000;
            line-height: 1.2;

            & span {
                font-weight: 600;
            }
        }

        & p {
            color: #252525;
            width: 40%;
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 2000px) {
    .skillsContainer {
        & .skillsContent {
            & h2 {
                font-size: 48px;
            }

            & p {
                max-width: 700px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .skillsContainer {
        padding: 128px 36px 36px 36px;

        & .skillsContent {
            gap: 24px;

            & h2 {
                font-size: 32px;
            }

            & p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .skillsContainer {
        padding: 128px 24px 24px 24px;

        & .skillsContent {
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            gap: 24px;

            & h2 {
                font-size: 32px;
            }

            & p {
                width: auto;
                max-width: auto;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .skillsContainer {
        padding: 128px 24px 24px 24px;

        & .skillsContent {
            & h2 {
                font-size: 26px;
            }

            & p {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .skillsContainer {
        padding: 128px 24px 24px 24px;

        & .skillsContent {
            gap: 16px;
            & h2 {
                font-size: 23px;
            }

            & p {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .skillsContainer {
        padding: 128px 24px 24px 24px;

        & .skillsContent {
            gap: 12px;

            & h2 {
                font-size: 20px;
            }

            & p {
                font-size: 12.5px;
            }
        }
    }
}
