@use "../assets/styles/fonts.scss" as *;
@use "../assets/styles/light" as *;
@use "../assets/styles/dark" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--on-surface-0);
    background: var(--surface);
    font-family: "Switzer", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
