.header {
    display: flex;
    gap: 48px;
    padding: 64px 0;
    .presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        & .slogan {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 750px;
        gap: 48px;

        & .headerText {
            display: flex;
            flex-direction: column;
            gap: 48px;
            & .contactLink {
                display: flex;
                align-items: center;
                gap: 24px;
                border-bottom: solid 1px var(--on-surface-0);
                padding-bottom: 8px;
                width: fit-content;
                text-decoration: none;
                color: var(--on-surface-0);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        flex-direction: column;
        .presentation {
            display: flex;
            flex-direction: column;
            gap: 24px;
            & .slogan {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 48px;

            & .headerText {
                display: flex;
                flex-direction: column;
                gap: 48px;
                & .contactLink {
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    border-bottom: solid 1px var(--on-surface-0);
                    padding-bottom: 8px;
                    width: fit-content;
                    text-decoration: none;
                    color: var(--on-surface-0);
                }
            }
        }
    }
}
