.projectTag {
    display: flex;
    gap: 6px;
    padding: 7px 12px;
    background: var(--dark-1);
    width: fit-content;
    border-radius: 100px;

    & svg {
        width: 14px;
    }
    & p {
        cursor: default;
        font-size: 12px;
    }
}