:root.dark {
    // On utilise le .dark car on ne veut appliquer ce root que si html contient la class ".dark"
    --surface: #111111;
    --surface-variant: #FFFFFF;
    --on-surface-0: #ffffff;
    --on-surface-1: #9D9D9D;
    --on-surface-2: #959595;
    --on-surface-3: #272727;
    --details: #535353;
    --hover: rgba(255, 255, 255, 0.5);
}
