:root.light {
  --surface: #FFFFFF;
  --surface-variant: #090909;
  --on-surface-0: #1F1F1F;
  --on-surface-1: #707070;
  --on-surface-2: #BDBDBD;
  --on-surface-3: #E2E2E2;
  --details: #BDBDBD;
  --hover: rgba(0, 0, 0, 0.5);
}