:root {
    --primary: #D1E4FA;
    --primary-linear: linear-gradient(0deg, #D8ECF8, #98C0EF);

    --on-surface-0: #FFFFFF;
    --on-surface-1: #C4D0E9;
    --on-surface-2: #c7d3ea97;

    --surface-0: #05060C;
    --surface-1: rgba(5, 6, 15, 0.9), rgba(186, 207, 247, 0.05);
    --surface-2: rgba(186, 217, 247, 0.05);

    --stroke-0: #bad8f730;

    --design-color-1: #E46D4C;
    --design-color-2: #663AF3;
    --design-color-3: #027DEA;
    --design-color-4: #269684;
}