.navContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(-20%);

    & .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 24px 48px;

        & .navGroup {
            display: flex;
            gap: 12px;
        }
    }

    animation: navAnimation 1.5s 2.5s forwards;
}

@keyframes navAnimation {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    .navContainer {
        & .nav {
            padding: 24px 24px;

            & .navGroup {
                display: flex;
                gap: 8px;
            }
        }
    }
}
