.navContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 24px 48px;

        & .navGroup {
            display: flex;
            gap: 12px;
        }
    }
}

@media screen and (max-width: 650px) {
    .navContainer {
        & .nav {
            padding: 24px 24px;

            & .navGroup {
                display: flex;
                gap: 8px;
            }
        }
    }
}
